.person__wrapper {
  display: flex;
  padding: 60px;
}

.person__image {
  justify-content: center;
  border-radius: 15px;
  max-height: 37vw;
  margin-top: 75px;
  overflow: hidden;
  max-width: 23vw;
  display: flex;
}

img {
  width: 100%;
}

.person__content {
  margin-left: 60px;
  width: 100%;
}

.person__name {
  font-family: KdamThmorPro;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}

.person__text {
  margin-top: 40px;
}

@media only screen and (max-width: 576px) {
  .person__wrapper {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .person__image {
    margin-bottom: 20px;
    max-height: 60vw;
    max-width: 40vw;
    margin-top: 0;
  }

  .person__content {
    margin-left: 0;
  }
}